.main {
    background-image: url(img/phone.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position-x: 720px;
    background-position-y: 80px;
}

@media screen and (min-width: 600px) {
    .main {
        background: hidden;
    }
}